<div class="footer-dark" style="height: 374px;padding-top: 13px;">
        <footer style="height: 337px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item" style="font-family: Arvo, serif;font-size: 22px;">
                        <h3 style="font-family: Arvo, serif;font-size: 21px;">Services</h3>
                        <ul>
                            <li style="font-size: 18px;">&nbsp; &nbsp;Resume Score</li>
                            <li style="font-size: 18px;">&nbsp; &nbsp;Career Path Finder</li>
                            <li style="font-size: 18px;">&nbsp; &nbsp;Job Search</li>
                        </ul>
                        <ul>
                            <li style="font-size: 18px;">&nbsp; &nbsp;100 Questions / 100 Days</li>
                            <li style="font-size: 18px;">&nbsp; &nbsp;Quiz</li>
                            <li></li>
                            <li></li>
                        </ul><a href="#"></a></div>
                    <div class="col-sm-6 col-md-3 item" style="font-family: Arvo, serif;">
                        <h3 style="font-family: Arvo, serif;font-size: 21px;">About</h3>
                        <ul>
                            <li><a href="#" style="font-size: 18px;">Company</a></li>
                            <li><a href="#" style="font-size: 18px;">Team</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text" style="font-family: Arvo, serif;">
                        <h3 style="font-family: Arvo, serif;font-size: 21px;">CodePink</h3>
                        <p style="font-size: 18px;margin-top: 10px;">We are a group of people continuously working to develop ML powered tools to help you tailor the resume and increase the chances to succeed in interview.</p>
                    </div>
                    <div class="col item social">
                        <a href="/contact.html"><i class="icon ion-ios-telephone"></i>
                    </a><a href="mailto:xyz@codepink.com"><i class="icon ion-ios-email"></i></a></div>
                </div>
                <p class="copyright">CODEPINK © 2020</p>
            </div>
        </footer>
    </div>