<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <img class="border rounded" data-bs-hover-animate="pulse" onclick="window.location.href='/';" src="static/img/Codepink.jpg" style="filter: contrast(89%) hue-rotate(359deg);width: 50px;height: 50px;">
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" id="home_button" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" id="about_button" href="/about">About us</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" id="service" data-toggle="dropdown" aria-expanded="false" data-bs-hover-animate="pulse" href="#">Services</a>
                    <div class="dropdown-menu border rounded shadow-lg"
                            role="menu" style="background-color: rgb(255,255,255);opacity: 1;filter: brightness(93%) contrast(47%) grayscale(47%) hue-rotate(0deg) saturate(86%);color: rgb(255,255,255);box-shadow: 0px 0px;font-family: Arvo, serif;">

                    <a class="dropdown-item" role="presentation" id="service_1" href="/service_1">Resume Score</a>
                    <a class="dropdown-item" role="presentation" id="service_2" href="/service_2">Career Path Finder</a>
                    <a class="dropdown-item" role="presentation" id="service_3" href="/service_4">Job Search</a>
                    <a class="dropdown-item" role="presentation" id="service_4" href="/service_3">100 Questions 100 Days</a>
                    <a class="dropdown-item" role="presentation" id="service_5" href="/service_5" style="filter: brightness(70%);">Quiz</a></div>
                </li>
                <li class="nav-item" role="presentation"></li>
            </ul>
        </div>
    </div>
</nav>