<link rel="stylesheet" href="static/css/bootstrapIndexAbout.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Proza+Libre">
<link rel="stylesheet" href="static/fonts/font-awesome.min.css">
<link rel="stylesheet" href="static/fonts/ionicons.min.css">
<link rel="stylesheet" href="static/css/-Login-form-Page-BS4-.css">
<link rel="stylesheet" href="static/css/Drag--Drop-Upload-Form.css">
<link rel="stylesheet" href="static/css/Drag-Drop-File-Input-Upload.css">
<link rel="stylesheet" href="static/css/Features-Boxed.css">
<link rel="stylesheet" href="static/css/Footer-Dark.css">
<link rel="stylesheet" href="static/css/Google-Style-Login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="static/css/Responsive-Youtube-Embed.css">
<link rel="stylesheet" href="static/css/Team-1-1.css">
<link rel="stylesheet" href="static/css/Team-1.css">
<link rel="stylesheet" href="static/css/Team-with-rotating-cards.css">
<link rel="stylesheet" href="static/css/Team.css">