.features-boxed{
    height:1200px;
    width:100%;
    background-color: #1a1a1a;
}
.results .text-center{
    color:white;
    filter: invert(0%);
    font-size:32px;
}
.results .progress{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 70%;
    margin: 0 auto;
}
.results .button-container {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 50%;
    margin: 0 auto;
}

.button-container .button-column{
    width:50%;
    float:left;
    text-align:center;
}

.button-keyword{
    border: none;
    color: white;
    text-align: center;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:800;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width:15%; 
    height:40px; 
    border-radius: 3px;
    pointer-events: none;
}
