<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Website name</title>
    <meta name="description" content="Website contend">
    {% include "reuse/stylesheets.html" %}
</head>

<body style="color: rgb(3,4,4);background-color: rgb(248,245,245);">
    {% include "reuse/navbar.html" %}
    <header class="masthead" style="background: url(static/img/contact-bg.jpg);background-size: cover;">
        <div class="overlay" style="opacity: 0.84;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1 style="font-family: 'Proza Libre', sans-serif;">About Us</h1><span class="subheading" style="font-family: Arvo, serif;">Find out more here !</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p><br>We are a group of people continuously working to develop ML powered tools to help you tailor the resume and increase the chances to succeed in interview.<br><br></p>
                <p>Our purposes on creating this website are firstly, we wanna help people getting their IT based job. Secondly, we wanted to help enhancing the skills and talents that our applicants owned. Thirdly, we wanted to make our applicants became
                    more aware of their IT levels.&nbsp;</p>
                <p></p>
            </div>
        </div>
    </div>
    <div id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Meet our team</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card"><img class="rounded-circle img-fluid card-img-top w-100 d-block" src="static/img/Jinsoo_2.jpg" style="max-width: 90%;margin-left: 17px;">
                        <div class="caption">
                            <h3>Jinsoo Roh</h3>
                            <p class="text-uppercase">Scrum Master</p>
                            <p>Organize daily stand-up meeting & Keep monitoring the members and finding solutions</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card"><img class="rounded-circle img-fluid card-img-top w-100 d-block" src="static/img/bhuvesh.jpg" style="max-width: 90%;margin-left: 17px;">
                        <div class="caption">
                            <h3>Bhuvesh Kumar</h3>
                            <p class="text-uppercase">Full Stack Web Developer</p>
                            <p>Passionate about developing good quality application tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card"><img class="rounded-circle img-fluid card-img-top w-100 d-block" src="static/img/RonWeasley.jpg" style="margin-left: 17px;max-width: 90%;">
                        <div class="caption">
                            <h3>Patrick</h3>
                            <p class="text-uppercase">Program Tester</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="team" style="margin-bottom: 27px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-right: -14px;padding-right: 1px;">
                <div class="col-sm-6 col-md-4" style="max-width: 16%;"></div>
                <div class="col-sm-6 col-md-4" style="max-width: 33%;">
                    <div class="card"><img class="rounded-circle img-fluid card-img-top w-100 d-block" src="static/img/DavidAngka.jpg" style="max-width: 90%;margin-left: 17px;">
                        <div class="caption">
                            <h3>David Angka</h3>
                            <p class="text-uppercase">Full stack developer</p>
                            <p>Always interested in exploring new technologies. Also the reason this website is unresponsive. Developed frontend mostly, but did some backend too.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4" style="max-width: 33%;">
                    <div class="card"><img class="rounded-circle img-fluid card-img-top w-100 d-block" src="static/img/HermioneGranger.jpg" style="max-width: 90%;margin-left: 17px;">
                        <div class="caption">
                            <h3>Ray</h3>
                            <p class="text-uppercase">Front end developer</p>
                            <p>Passionate and spontaneous on doing something i like which leads me to be able to improvise easily</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="max-width: 16%;"></div>
            </div>
        </div>
    </div>
    {% include "reuse/footer.html" %}
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>
</body>

</html>