<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Website name</title>
    <meta name="description" content="Website contend">
    {% include "reuse/stylesheets.html" %}
</head>

<body style="background-color: #e0dddd;">
    {% include "reuse/navbar.html" %}
    <header class="masthead" style="filter: blur(0px) brightness(116%) contrast(112%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(200%);opacity: 1;background-image: url(static/img/compute-ea4c57a4.png);background-position: center;background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1 style="font-family: 'Proza Libre', sans-serif;">Resume IT</h1><span class="subheading" style="font-family: Arvo, serif;font-style: normal;font-weight: normal;">Try IT, IT Works !<br><br>Machine Learning Powered services to help you tailor your resume and prepare you for your dream job</span></div>
                </div>
            </div>
        </div>
    </header>
    <div></div>
    <div class="features-boxed" style="background-color: #e0dddd;">
        <div class="container" style="background-color: #e0dddd;padding-left: 15px;">
            <div class="intro">
                <h2 class="text-center" style="padding-top: 7px;">How to use the services ?<br></h2>
                <h2 class="text-center" style="height: 38px;padding: 0px;padding-top: -6px;margin-bottom: 37px;font-family: Arvo, serif;font-weight: normal;font-size: 24px;width: 500px;min-height: -5px;">Watch the video tutorial<br></h2>
                <div class="video-container" style="width: 570px;padding-left: -49px;margin-left: -13px;padding-top: -7px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/q5n_kdnyxoQ?loop=1&amp;playlist=q5n_kdnyxoQ" width="853" height="480" style="width: 608px;height: 286px;margin: 11px;padding: -12px;padding-right: -53px;padding-left: -20px;margin-right: 165px;margin-left: -58px;"></iframe></div>
                <p
                    class="text-center" style="font-size: 19px;line-height: 28px;letter-spacing: 0px;font-family: Arvo, serif;color: rgb(0,0,0);width: 642px;padding-left: -13px;padding-right: 129px;">Hi ! if you are new to the website and looking for an IT based job, you came to the right place ! <br><br>We will guide you on how to use various services on the website and we will help you until you find the perfect.&nbsp;<br><br><br><br><br></p>
            </div>
        </div>
    </div>
    <div class="features-boxed" style="background-color: #eaeaea;">
        <div class="container" style="background-color: #eaeaea;">
            <div class="intro" style="filter: invert(100%);height: 203px;">
                <h2 class="text-center" style="filter: invert(0%);color: rgb(255,255,255);">Services</h2>
                <p class="text-center" style="font-family: Arvo, serif;color: rgb(0,0,0);font-size: 22px;font-weight: normal;filter: invert(100%);">Here are some of the services which might help you checking and improving your resume. Try it out !</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box" style="background-color: rgba(120,168,213,0.74);border-style: none;box-shadow: -10px 11px 10px 2px;opacity: 0.74;border-radius: 10px;"><i class="fa fa-search icon" style="border-color: rgb(0,0,0);color: rgb(4,17,67);opacity: 1;"></i>
                        <h3 class="name" style="font-family: 'Proza Libre', sans-serif;color: rgb(0,0,0);font-size: 25px;font-style: normal;font-weight: 900;">Job Search</h3>
                        <p class="description" style="font-family: Arvo, serif;color: rgb(0,0,0);">Upload your resume and explore all the job opportunities available.</p><a class="learn-more" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 17px;">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box" style="background-color: rgba(120,168,213,0.74);box-shadow: -2px 11px 10px 2px;opacity: 0.74;border-width: 3px;border-style: none;border-radius: 10px;"><i class="fa fa-calculator icon" style="border-color: rgb(0,0,0);color: rgb(2,6,21);"></i>
                        <h3 class="name" style="font-size: 25px;font-family: 'Proza Libre', sans-serif;font-weight: bold;font-style: normal;color: rgb(0,0,0);">Resume Score</h3>
                        <p class="description" style="font-family: Arvo, serif;color: rgb(0,0,0);">Get your resume score with respect to standard job requirements.</p><a class="learn-more" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 17px;">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box" style="background-color: rgba(120,168,213,0.74);border-style: none;box-shadow: 7px 11px 10px 2px;opacity: 0.74;border-radius: 10px;"><i class="fa fa-road icon" style="color: rgb(4,17,67);"></i>
                        <h3 class="name" style="font-size: 25px;font-family: 'Proza Libre', sans-serif;font-weight: bold;font-style: normal;color: rgb(0,0,0);">Career Path Finder</h3>
                        <p class="description" style="font-family: Arvo, serif;color: rgb(0,0,0);">Are you lost? Find the best career path for your dream job.</p><a class="learn-more" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 17px;">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box" style="background-color: rgba(120,168,213,0.74);border-style: none;box-shadow: -10px 11px 10px 2px;opacity: 0.74;border-radius: 10px;"><i class="fa fa-question-circle-o icon" style="color: rgb(4,17,67);"></i>
                        <h3 class="name" style="font-size: 24px;font-family: 'Proza Libre', sans-serif;font-weight: bold;font-style: normal;color: rgb(0,0,0);width: 291px;">100 Question - 100 Days</h3>
                        <p class="description" style="font-family: Arvo, serif;color: rgb(0,0,0);">Subscribe and get 100 Question&nbsp; for 100 days to improve your skills.</p><a class="learn-more" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 17px;">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box" style="background-color: rgba(120,168,213,0.74);border-style: none;box-shadow: 7px 11px 10px 2px;opacity: 0.74;border-radius: 10px;"><i class="fa fa-pencil icon" style="color: rgb(4,17,67);"></i>
                        <h3 class="name" style="font-size: 25px;font-family: 'Proza Libre', sans-serif;font-weight: bold;font-style: normal;color: rgb(0,0,0);">Quiz</h3>
                        <p class="description" style="font-family: Arvo, serif;color: rgb(0,0,0);">Take a quick quiz to evaluate your IT skills</p><a class="learn-more" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 17px;">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    {% include "reuse/footer.html" %}
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>
</body>

</html>