<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    {% include "reuse/stylesheets.html" %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/service_1_result.css">
    <link rel="stylesheet" media="screen" href="/static/css/particles.css">
</head>

<body id="page-top">
    {% include "reuse/navbar.html" %}

    <div class = "bg">
        <div id="particles-js"></div>
    </div>
    <div class="features-boxed" >
        <div class="container">
            <div class = "front" >
                <div class="results" style = "top:400px; position: relative;">

                <h2 class="text-center">The % match of your resume with standard {{selection}} resume:</h2>
                <hr width="100%"
                size="20">
                    <div class="progress" style="height:50px; margin-top:40px; border-radius: 10px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100" style="width:{{result}}%; font-size:30px;">
                            {{result}}%
                        </div>
                    </div>

                    <h2 class="text-center">Your resume lacks the following keywords</h2>
                    <div class="keywords" style="text-align:center">
                        {% set colors = ["#aaabb8", "#2e9cca", "#29648a", "#464866"] %}
                        {% for keyword in resultKeywords %}
                            <button class="button-keyword" type="button" style="background-color: {{colors[loop.index%colors|length]}}; ;">{{keyword}}</button>
                        {% endfor %}
                    </div>
                <br>
                        <br>
                        <br>
                <br>




                    <div class="button-container">
                        <h3 class="text-center">Try more services:</h3>
                        <br>

                        <div class="button-column" style="text-align:center">
                            <div></div>



                            <button type="button" class="btn btn-primary" onclick="window.location.href='/service_4';" style="width:80%; height:80px; background-color: #2e9cca;">100 Questions</button>
                        </div>
                        <div class="button-column">
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/service_5';" style="width:80%; height:80px; background-color: #2e9cca;">Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="padding-top:100px; background-color: #282d32; z-index:2; position: relative;">
        {% include "reuse/footer.html" %}
    </div>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>
    <!--<script src="/static/js/particles.js"></script>-->
    <script src="/static/js/app.js"></script>
</body>

</html>