<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>boot</title>
    {% include "reuse/stylesheets.html" %}
    <link rel="stylesheet" media="screen" href="/static/css/particles.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Dark.css">
</head>

<body>
    {% include "reuse/navbar.html" %}
    <div class = "content">
        <div class="login-dark">
            <div class = "bg">
                <div id="particles-js"></div>
            </div>

            <form action="{{ url_for('addrec') }}" method="POST">
                        <div class="form-row">
                            <div ><input class="form-control form-control-lg" id='input-box' name = "mail" type="email" placeholder="Enter your email..." /></div>
                            <div><button class="btn btn-primary btn-block btn-lg" id = 'submit' type="submit" value="submit">Join!</button></div>
                        </div>
                        <h1 style="font-size: 15px;text-align: right;"><br><strong>No Spam, No Affiliate Links, &amp; No data sharing.</strong><br><br></h1>
                    </form>






            </div>
        </div>
    </div>

    <div style="padding-top:100px; background-color: #282d32; z-index:2; position: relative;">
        {% include "reuse/footer.html" %}
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/particles.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>

</body>
</html>