<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    {% include "reuse/stylesheets.html" %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/service_1_result.css">
    <link rel="stylesheet" media="screen" href="/static/css/particles.css">
</head>

<body id="page-top">
    {% include "reuse/navbar.html" %}

    <div class = "bg">
        <div id="particles-js"></div>
    </div>
    <div class="features-boxed" style="height:500px;" >
        <div class="container">
            <div class = "front" >
                <div class="results" style = "top:200px; position: relative;">






<h1 class="text-center"  >Thanks for Joining!</h1>








                    </div>
                </div>
            </div>
        </div>


    <div style="padding-top:50px; background-color: #282d32; z-index:2; position: relative;">
        {% include "reuse/footer.html" %}
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>
    <!--<script src="/static/js/particles.js"></script>-->
    <script src="/static/js/app.js"></script>
</body>

</html>