<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>boot</title>
    <link rel="stylesheet" href="/static/css/bootstrapIndexAbout.css">
    <link rel="stylesheet" media="screen" href="/static/css/particles.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="static/css/Footer-Dark.css">
</head>

<body>
    {% include "reuse/navbar.html" %}
    <div class = "content">
        <div class="login-dark">
            <div class = "bg">
                <div id="particles-js"></div>
            </div>

            <div class = "front"></div>
                <form id="upload-form" action="{{ url_for('quiz') }}" method="POST" enctype="multipart/form-data">
                <div class="illustration"><i class="icon ion-ios-paper-outline"></i></div>

                <strong>Select the quiz topic:</strong><br>
                <select name="select1"> <!-- note the name -->
                    <option value="DS">Data Science</option>
                    <option value="PL">Python language</option>
                    <option value="CL">C language</option>
                    <option value="JL">Java language</option>

                </select>
                <br>
                <br>
                <input type="submit" class="btn btn-info" value="Upload!" id="upload-button">
                </form>
            </div>
        </div>
    </div>
    {% include "reuse/footer.html" %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/particles.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>


</body>
</html>