<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>boot</title>
    <link rel="stylesheet" href="/static/css/bootstrapIndexAbout.css">
    <link rel="stylesheet" media="screen" href="/static/css/particles.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="static/css/Footer-Dark.css">
</head>

<body>
    {% include "reuse/navbar.html" %}
    <div class = "content">
        <div class="login-dark">
            <div class = "bg">
                <div id="particles-js"></div>
            </div>

            <div class = "front"></div>
                <form id="upload-form" action="{{ url_for('upload_2') }}" method="POST" enctype="multipart/form-data">
                <div class="illustration"><i class="icon ion-ios-paper-outline"></i></div>
                <strong>1) Chose resume file:</strong><br>
                <input id="file-picker"  type="file" name="file"  accept="application/pdf/*" multiple>
                <div id="msg"></div>
                <br>
                <br>
                <strong>2) Select the Job Title:</strong><br>
                <select name="select1"> <!-- note the name -->
                    <option value="DS">Data Scientist</option>
                    <option value="WD">Web Developer</option>
                    <option value="ISA">Information Security Analyst</option>
                    <option value="SE">Software Engineer</option>
                    <option value="AI">AI and ML Engineer</option>
                    <option value="XMEN">X men</option>
                </select>
                <br>
                <br>
                <input type="submit" class="btn btn-info" value="Upload!" id="upload-button">
                </form>
            </div>
        </div>
    </div>
    {% include "reuse/footer.html" %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/particles.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/clean-blog.js"></script>
    
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'pdf') || (ext == 'pdf'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</body>
</html>